.header{
    background-color: darkgreen;
    padding: 1em;
    color: tomato;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
    /* border-bottom: solid 10px red; */
}
a{
    color: tomato;
}
.active-link{
    color: crimson;
}